* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}
header {
}

.logo {
  box-shadow: 0px 16px 15px -9px rgba(0, 0, 0, 0.21);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 61px;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  height: 8vh;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #555;
}

/*
nav ul li a::before {
  content: '';
  height: 5px; crio um 'conteúdo' de altura de 5px 

  background: #ff523b;
  position: absolute;
  bottom: -10px;
  width: 0%;
  transition: ease-in 1s;

  /*dica: width iniciando em 0 e aplicação de uma transição
}

nav ul li a:hover::before {
  width: 100%;
}

*/

.header__container {
  /*max-width: 1300px;*/
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.banner__background {
  width: 100%;
  height: 92vh;
  background-image: url('./images/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner__descricao {
  background: rgba(200, 209, 167, 0.1); /*10% = background da descricao */
}

.banner__descricao h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 84px;
  color: #ff523b;
  padding: 10px 0;
}

.banner__descricao p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 28px;
  color: whitesmoke;
}

.banner__descricao__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn {
  display: inline-block;
  background-color: #ff523b;
  padding: 10px 30px; /*afasta da borda*/
  margin: 30px 0; /*afasta do texto acima e abaixo*/
  border-radius: 30px;
  transition: background 0.5s; /*quando acrescentar o hover*/
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 28px;
  color: whitesmoke;
}

.btn:hover {
  background: #ff523b;
  opacity: 85%;
}

.banner__descricao__button a {
  text-decoration: none;
  color: whitesmoke;
}

.container {
  width: 100%;
  /*margin: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container_titulo {
  font-style: normal;
  font-weight: 900;
  font-size: 4rem;
  line-height: 75px;
  padding-top: 34px;
  padding-bottom: 34px;
  color: #ff523b;
}

.container_titulo h2 {
}

.container_produtos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  padding-left: 80px;
  padding-right: 80px;
}

.container_card {
  width: 30%;
  height: 512px;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0px 16px 15px -9px rgba(0, 0, 0, 0.21);
  margin-bottom: 34px;
}

.card {
  width: 100%;
}

.card_img img {
  width: 100%;
  height: 240px;
  border-radius: 12px 12px 0 0;
}

.card_decricao {
  flex-basis: 25%;
}

.card_decricao h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 14px;
}
.card_decricao p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.75);
  text-align: justify;
}

.card__descricaoHp {
  width: 100%;
  height: 180px;
  padding: 26px 32px;
}

.btn__card {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #33bb69;
  padding: 10px 30px; /*afasta da borda*/
  margin: 0 33px; /*afasta do texto acima e abaixo*/
  border-radius: 12px;
  transition: background 0.5s; /*quando acrescentar o hover*/
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 28px;
  color: whitesmoke;
}

.btn__card:hover {
  background: #085f2b;
  opacity: 85%;
}

.btn__card a {
  text-decoration: none;
  color: whitesmoke;
}
.btn__descricao {
}

footer {
  width: 100%;
  background: #5dc285;
}

.footer_geral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__autor {
  width: 100%;
  display: flex;
  padding-top: 80px;
  padding-left: 83px;
  padding-right: 83px;
}

.footer__autor__descricao {
  width: 50%;
}

.footer__autor__descricao:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: right;
}

.footer img .footer__autor__nome {
}

.footer__autor__nome h4 {
}

.footer__redes__sociais {
  display: flex;
  flex-direction: row;
  padding-top: 12px;
}

.footer__redes__sociais img:first-child {
  padding-right: 16px;
}

.footer__checkpoint p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: whitesmoke;
  padding-bottom: 80px;
}

/*-------LOGIN-------*/

/*--------DETAILS-----*/
